- page_title 'Geo Projects'
- @content_class = "geo-admin-projects"
- params[:sync_status] ||= []

.top-area.scrolling-tabs-container.inner-page-scroll-tabs
  %ul.nav-links.nav.nav-tabs
    - opts = params[:sync_status].present? ? {} : { page: admin_geo_projects_path }
    = nav_link(opts) do
      = link_to admin_geo_projects_path do
        = s_('Geo|All')
    = nav_link(html_options: { class: active_when(params[:sync_status] == 'synced') }) do
      = link_to admin_geo_projects_path(sync_status: 'synced') do
        = s_('Geo|Synced')
    = nav_link(html_options: { class: active_when(params[:sync_status] == 'pending') }) do
      = link_to admin_geo_projects_path(sync_status: 'pending') do
        = s_('Geo|Pending')
    = nav_link(html_options: { class: active_when(params[:sync_status] == 'failed') }) do
      = link_to admin_geo_projects_path(sync_status: 'failed') do
        = s_('Geo|Failed')
    = nav_link(html_options: { class: active_when(params[:sync_status] == 'never') }) do
      = link_to admin_geo_projects_path(sync_status: 'never') do
        = s_('Geo|Never')
  .nav-controls
    = render(partial: 'shared/projects/search_form', autofocus: true)
    .dropdown
      %a.btn.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' }, 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
        = icon('gears')
        = s_('Geo|Batch operations')
        = icon("caret-down")
      %ul.dropdown-menu.dropdown-menu-right
        %li.dropdown-header= s_('Geo|Batch operations')
        %li= link_to s_('Geo|Resync all projects'), resync_all_admin_geo_projects_path, method: :post
        %li= link_to s_('Geo|Reverify all projects'), reverify_all_admin_geo_projects_path, method: :post

- case params[:sync_status]
- when 'never'
  = render(partial: 'never')
- when 'failed'
  = render(partial: 'failed')
- when 'pending'
  = render(partial: 'pending')
- when 'synced'
  = render(partial: 'synced')
- else
  = render(partial: 'all')
